/*-- nav bar --*/
#nav-bar-container{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 100vw;
    background-color: var(--secondary);
}

#name {
    color: var(--Ptext);
    margin: 10px;
}

#nav-bar-list {
    margin-right: 1%;
    display: flex;
    height: 50%;
    justify-content: right;
    width: 50%;
    list-style: none;
}
#nav-bar-list > li {
    align-content: center;
    border-radius: 5px;
    margin-left: 3%;
    padding: 1%;
    display: inline-block;
    background-color: var(--tertiary);
    color: var(--Stext);
    transition: ease 0.2s;
}

#nav-bar-list > li:hover {
    background-color: var(--primary);
    color: var(--Ptext);
    transition: ease 0.2s;
}

#title-block > h1 {
    z-index: -1;
    text-align: end;
    text-transform:uppercase;
    min-width: fit-content;
    width: 12%;
    border-radius: 0 20px 20px 0;
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--secondary);
    box-shadow: 0px 0px 2px;
    color: var(--Ptext);
    position: relative;
    animation: moveIn 1s 1;
}

/*-- title of page --*/
#title-block {
    z-index: -2;
    background-image: url(background.avif);
    background-size: 100%;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 40vh;
    width: 100vw;
}

/*-- body of page --*/

body {
    background-color: var(--primary);
    display:grid;
}

#projects-container{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    justify-self: center;
}
#project-list {
    margin: 10px;
    list-style: none;
    justify-self: center;
    display: grid;
}

#project-list > li {
    margin-bottom: 40px;
    border: solid var(--tertiary) 2px;
    color: var(--Ptext);
    border-radius: 20px;
    padding: 10px;
    width: 60%;
    justify-self: center;
}


@keyframes moveIn {
    from {
        left: -200px;
    }
    to {
        left: 0px;
    }

}


