* {
    margin:0;
    padding:0;
    z-index: 1;
    color: white;
    box-sizing: border-box;
}

canvas {
    z-index: 0;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
}

/* for whatever reason if the body isn't a flexbox it doesn't work right */
body{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/* this is a weird way of doing this but it works so i'm not changing it */
#main-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: max-content;
}

nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 5px;
    padding: 10px;
    height: max-content;
    width: max-content;
    align-self: center;
}

nav > a {
    width: max-content;
    height: max-content;
    margin: 20px;
}

nav > a > button {
    color: black;
    background-color: #ed09e6;
    border:none;
    border-radius: 20px;
    width: 100px;
    padding: 5px;
    animation: change-back cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s forwards;
}

nav > a > button:hover {
    animation: change cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s forwards;
}

#title {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: max-content;
    width: max-content;
    align-self: center;
}

 h1,h2,h3 {
     margin: 5px;
     display: block;
     justify-self: center;
     align-self: center;
     position: relative;
     color: white;
 }

 #ballInput {
     display: block;
     margin-left: 5px;
     width: 100px;
     height: max-content;
     align-self: center;
     background-color: rgba(0,0,0,0.2);
     text-align: center;
     color: greenyellow;
     border:dotted white;
     border-style: dotted 1px white;
     
 }


 #inputContainer {
     margin-top: 10px;
     display: flex;
     justify-content: center;
     width: 100%;
 }

 ::placeholder {
    color: greenyellow;
    opacity: 0.5;
}
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: greenyellow;
    opacity: 0.5;
}

#link {
    color: blue;
    position: absolute;
    bottom: 15px; 
    left: 15px;
}

/* animation frames */

@keyframes change{
    0%{
        background-color: #ed09e6;
    }
    20%{
        background: linear-gradient(30deg, blue, #ed09e6);
    }
    40%{
        background: linear-gradient(30deg,green, blue, #ed09e6);
    }
    60%{
        background: linear-gradient(30deg,yellow,green, blue, #ed09e6);
    }
    80%{
        background: linear-gradient(30deg,orange,yellow,green, blue, #ed09e6);
    }
    100%{
        background: linear-gradient(30deg,red, orange,yellow,green, blue );
    }
}

@keyframes change-back {
    0%{
        background: linear-gradient(30deg,red, orange,yellow,green, blue );
    }
    20%{
        background: linear-gradient(30deg,orange,yellow,green, blue, #ed09e6);
    }
    40%{
        background: linear-gradient(30deg,yellow,green, blue, #ed09e6);
    }
    60%{
        background: linear-gradient(30deg,green, blue, #ed09e6);
    }
    80%{
        background: linear-gradient(30deg, blue, #ed09e6);
    }
    100%{
        background-color: #ed09e6;
    }
    
}

